wxml_files = [
    #'wxml/classwx_activity_indicator.xml',
    'wxml/classwx_any_button.xml',
    'wxml/classwx_art_provider.xml',
    'wxml/classwx_bitmap.xml',
    'wxml/classwx_bitmap_bundle.xml',
    'wxml/classwx_bitmap_button.xml',
    'wxml/classwx_book_ctrl_base.xml',
    'wxml/classwx_book_ctrl_event.xml',
    'wxml/classwx_box_sizer.xml',
    'wxml/classwx_button.xml',
    'wxml/classwx_check_box.xml',
    'wxml/classwx_choice.xml',
    'wxml/classwx_colour.xml',
    'wxml/classwx_colour_picker_ctrl.xml',
    'wxml/classwx_combo_box.xml',
    'wxml/classwx_command_event.xml',
    'wxml/classwx_control.xml',
    'wxml/classwx_date_picker_ctrl.xml',
    'wxml/classwx_date_time.xml',
    'wxml/classwx_dir_picker_ctrl.xml',
    'wxml/classwx_event.xml',
    'wxml/classwx_evt_handler.xml',
    'wxml/classwx_file_name.xml',
    'wxml/classwx_frame.xml',
    'wxml/classwx_g_d_i_object.xml',
    'wxml/classwx_icon.xml',
    'wxml/classwx_item_container.xml',
    'wxml/classwx_item_container_immutable.xml',
    'wxml/classwx_list_box.xml',
    'wxml/classwx_menu.xml',
    'wxml/classwx_menu_bar.xml',
    'wxml/classwx_menu_item.xml',
    'wxml/classwx_non_owned_window.xml',
    'wxml/classwx_notebook.xml',
    'wxml/classwx_notify_event.xml',
    'wxml/classwx_object.xml',
    'wxml/classwx_panel.xml',
    'wxml/classwx_picker_base.xml',
    'wxml/classwx_point.xml',
    'wxml/classwx_radio_box.xml',
    'wxml/classwx_rect.xml',
    'wxml/classwx_size.xml',
    'wxml/classwx_sizer.xml',
    'wxml/classwx_sizer_flags.xml',
    'wxml/classwx_static_bitmap.xml',
    'wxml/classwx_static_box.xml',
    'wxml/classwx_static_box_sizer.xml',
    'wxml/classwx_static_text.xml',
    'wxml/classwx_text_attr.xml',
    'wxml/classwx_text_ctrl.xml',
    'wxml/classwx_text_entry.xml',
    'wxml/classwx_tool_bar.xml',
    'wxml/classwx_top_level_window.xml',
    'wxml/classwx_validator.xml',
    'wxml/classwx_window.xml',
    'wxml/classwx_wrap_sizer.xml',
]

[conditions]

[conditions.windows]
cxx = "#ifdef __WXMSW__"

[conditions.not_windows]
cxx = "#ifndef __WXMSW__"

[conditions.mac]
cxx = "#ifdef __WXOSX__"

[conditions.not_gtk]
cxx = "#ifndef __WXGTK__"

[conditions.wx31]
cxx = "#if wxCHECK_VERSION(3, 1, 0)"

[conditions.wx317]
cxx = "#if wxCHECK_VERSION(3, 1, 7)"

[types]
[types.wxAnyButton]
library = 'core'
[types.wxArtProvider]
blocklist = [
    'Insert',
]
wx317 = [
    # Doc isn't up-to-date in wx3.1.6
    'GetSizeHint',
]
[types.wxBitmapBundle]
blocklist = [
    'operator=',
    'FromBitmaps',
    # conflict on const vs mut
    'FromSVG',
]
[types.wxBitmapButton]
wx31 = [
    'CreateCloseButton',
    # Additional args in wx3.1
    'NewCloseButton',
]
[types.wxBitmap]
blocklist = [
    # doesn't support returning wxList
    'GetHandlers',
]
wx317 = [
    # Doc isn't up-to-date in wx3.1.6
    'SetDepth',
    'SetHeight',
    'SetWidth',
]
wx31 = [
    'wxBitmap8',
]
not_windows = [
    # FIXME: FindHandler on MSW requires dynamic_cast in C++ generated code.
    'FindHandler',
    # MSW impl is not compatible as it return void
    'UseAlpha',
]
[types.wxBookCtrlBase]
blocklist = [
    'wxBookCtrlBase',
    'wxBookCtrlBase1',
]
[types.wxButton]
wx31 = [
    'GetDefaultSize',
]
[types.wxColour]
blocklist = [
    'operator=',
    'operator==',
    'operator!=',
    'ChangeLightness',
]
wx31 = [
    'GetLuminance',
    'IsSolid',
]
[types.wxColourPickerCtrl]
blocklist = [
    'SetColour1',
]
[types.wxControl]
wx31 = [
    'GetSizeFromText',
]
[types.wxDatePickerCtrl]
wx31 = [
    'SetNullText',
]
[types.wxDateTime]
blocklist = [
    'operator=1',
    'operator+=',
    'operator+=1',
    'operator+',
    'operator+1',
    'operator-=',
    'operator-=1',
    'operator-',
    'operator-1',
    # Not supported struct tm in overload renaming
    'Set1',
    'GetTmNow',
    'wxDateTime3',
    # Not supported struct _systemtime in overload renaming
    'wxDateTime7',
    # Not supported string_const_itrator
    'ParseDate',
    'ParseFormat1',
    'ParseFormat2',
    # const vs non-const
    'Add',
    'Add2',
    'Subtract',
    'Subtract2',
]
windows = [
    'GetAsMSWSysTime',
    'SetFromMSWSysTime',
]
wx31 = [
    'GetFirstWeekDay',
    'GetWeekBasedYear',
]
[types.wxEvent]
returns_owned = [
    'Clone',
]
[types.wxEvtHandler]
blocklist = [
    'Bind1',
    'CallAfter1',
    'GetClientData',
    'SetClientData',
    'Unbind1',
]
[types.wxFileName]
blocklist = [
    'operator!=',
    'operator!=1',
    'operator==',
    'operator==1',
    'operator=',
    'operator=1',
]
wx31 = [
    'FileNameToURL',
    'ResolveLink',
    'URLToFileName',
]
[types.wxFrame] 
windows = [
    'MSWGetTaskBarButton',
]
[types.wxGDIObject]
blocklist = [
    # abstract class
    'wxGDIObject',
]
[types.wxIcon]
blocklist = [
    'operator=',
]
wx317 = [
    # Doc isn't up-to-date in wx3.1.6
    'SetDepth',
    'SetHeight',
    'SetWidth',
]
[types.wxItemContainer]
blocklist = [
    # std::vector<T> is not supported
    'Append4',
    'Insert4',
    'Set1',
]
[types.wxItemContainerImmutable]
blocklist = [
    'wxItemContainerImmutable',
    # TODO: use ArrayString::from_ptr()
    'GetStrings',
]
[types.wxListBox]
blocklist = [
    # C++ array not supported
    'InsertItems',
    # Maybe windows specific
    'MSWSetTabStops',
]
wx31 = [
    'GetCountPerPage',
    'GetTopItem',
]
[types.wxMenu]
blocklist = [
    # returns refs
    'GetMenuItems',
    'GetMenuItems1',
]
[types.wxMenuBar]
blocklist = [
    'GetLabelTop',
    'SetLabelTop',
]
mac = [
    'MacGetCommonMenuBar',
    'MacSetCommonMenuBar',
    'OSXGetAppleMenu',
]
[types.wxMenuItem]
blocklist = [
    'GetLabelFromText',
    # Deprecated, maybe removed
    'GetLabel',
    'GetName',
    'GetText',
    'SetText',
    # doesn't link in windows
    'GetAccelFromString',
    # should in windows, but doesn't compile
    'GetBackgroundColour',
    'GetFont',
    'GetTextColour',
]
windows = [
    'GetBitmap1',
    'GetDisabledBitmap',
    'GetMarginWidth',
    'SetBackgroundColour',
    'SetBitmap1',
    'SetBitmaps',
    'SetDisabledBitmap',
    'SetFont',
    'SetMarginWidth',
    'SetTextColour',
]
[types.wxNonOwnedWindow]
library = 'core'
[types.wxNotebook]
blocklist = [
    'Create',
    'OnSelChange',
]
[types.wxObject]
blocklist = [
    'operator new',
    'operator delete',
]
[types.wxPickerBase]
blocklist = [
    'wxPickerBase',
]
[types.wxPoint]
blocklist = [
    'operator+',
    'operator+1',
    'operator+2',
    'operator-',
    'operator-1',
    'operator-2',
    'operator/',
    'operator*',
    'operator*1',
    'operator=',
    'operator==',
    'operator!=',
    'operator+=',
    'operator+=1',
    'operator-=',
    'operator-=1',
    'operator/=',
    'operator*=',
]
[types.wxRadioBox]
wx317 = [
    # Doc isn't up-to-date in wx3.1.6
    'GetItemHelpText',
]
[types.wxRect]
blocklist = [
    'operator==',
    'operator=',
    'operator*=',
    'operator*',
    'operator+=',
    'operator+',
    'operator!=',
    # returns refs
    'Deflate',
    'Deflate1',
    'Deflate2',
    'Inflate',
    'Inflate1',
    'Inflate2',
    'Intersect',
    'Union1',
]
[types.wxSize]
blocklist = [
    'operator+',
    'operator-',
    'operator/',
    'operator/1',
    'operator*',
    'operator*1',
    'operator*2',
    'operator*3',
    'operator=',
    'operator==',
    'operator!=',
    'operator+=',
    'operator-=',
    'operator/=',
    'operator/=1',
    'operator*=',
    'operator*=1',
    # Didn't support
    'Scale',
]
[types.wxSizer]
blocklist = [
    # virtual
    'wxSizer',
    # returns refs
    'GetChildren1',
    # deprecated, use Remove() without args
    'Remove',
    # deprecated, use FitInside()
    'SetVirtualSizeHints',
]
wx31 = [
    'RepositionChildren',
]
[types.wxSizerFlags]
wx31 = [
    'CenterHorizontal',
    'CenterVertical',
    'CentreHorizontal',
    'CentreVertical',
]
[types.wxStaticBox]
blocklist = [
    'wxStaticBox2',
    'Create1',
]
[types.wxTextAttr]
blocklist = [
    'operator=',
    # TODO: wxArrayInt is not supported
    'GetTabs',
]
wx31 = [
    'GetUnderlineColour',
]
[types.wxTextCtrl]
blocklist = [
    'operator<<',
    'operator<<1',
    'operator<<2',
    'operator<<4',
]
mac = [
    'OSXEnableNewLineReplacement',
]
[types.wxTextEntry]
wx31 = [
    'ForceUpper',
]
[types.wxToolBar]
blocklist = [
    # const getter
    'GetToolByPos',
]
[types.wxTopLevelWindow]
windows = [
    'MSWGetSystemMenu',
]
blocklist = [
    # wxUniversal specific
    'IsUsingNativeDecorations',
    'UseNativeDecorations',
    'UseNativeDecorationsByDefault',

    # Didn't support (Uses inner class)
    'GetIcons',
    'SaveGeometry',
    'RestoreToGeometry',
]
wx31 = [
    'EnableFullScreenView',
    'EnableMaximizeButton',
    'EnableMinimizeButton',
]
[types.wxValidator]
returns_owned = [
    'Clone',
]
[types.wxWindow]
blocklist = [
    # TODO: dont return reference/temp value from self
    'GetChildren',
    'GetCursor',
    'GetUpdateRegion',
]
wx317 = [
    # Doc isn't up-to-date in wx3.1.6
    'GetHelpText',
]
not_gtk = [
    'RegisterHotKey',
    'UnregisterHotKey',
]
wx31 = [
    'DisableFocusFromKeyboard',
    'EnableTouchEvents',
    'EnableVisibleFocus',
    'FromDIP',
    'FromDIP1',
    'FromDIP2',
    'FromDIP3',
    'FromDIP4',
    'FromDIP5',
    'GetDPI',
    'GetDPIScaleFactor',
    'InheritsForegroundColour',
    'ToDIP',
    'ToDIP1',
    'ToDIP2',
    'ToDIP3',
    'ToDIP4',
    'ToDIP5',
    'UseBackgroundColour',
    'UseForegroundColour',
]
